<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.clould.batch.mapper.BatchJobMapper">

	<update id="updateJobStatusOrInstanceId" parameterType="com.spring.clould.batch.entity.BatchJob" >
		UPDATE BATCH_JOB SET STATUS=#{status}, JOB_INSTANCE_ID=#{jobInstanceId} WHERE ID=#{id}
	</update>
	
	<update id="updateJobCronByTemplate" parameterType="com.spring.clould.batch.entity.BatchJob" >
		UPDATE BATCH_JOB SET CRON=CRON_TEMPLATE WHERE ID=#{id}
	</update>
	
	<update id="updateJobExecutionFailed" parameterType="java.lang.Long" >
		UPDATE BATCH_JOB_EXECUTION SET STATUS='FAILED',EXIT_CODE='FAILED',END_TIME=NOW() WHERE JOB_EXECUTION_ID=#{jobExecutionId}
	</update>
	
	<update id="updateStepExecutionFailed" parameterType="java.lang.Long" >
		UPDATE BATCH_STEP_EXECUTION SET STATUS='FAILED',EXIT_CODE='FAILED',END_TIME=NOW() WHERE STEP_EXECUTION_ID=#{stepExecutionId}
	</update>

</mapper>